.button {
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 16px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &-secondary {
        background-color: transparent;
        color: #649e13;
        border: 1px solid #649e13;

        &:hover {
            background-color: #649e13;
            color: #030403;
        }
    }

    &-tab {
        padding: 12px;
        text-align: left;
        background-color: rgba(37, 150, 190, 0.1);
        width: 100%;
        color: #ececeb;
        border: none;

        &:hover {
            background-color: rgba(37, 150, 190, 0.25);
        }

        &:active {
            background-color: rgba(37, 150, 190, 0.35);
        }

        &-active {
            background-color: rgba(124, 191, 28, 0.5);

            &:hover {
                background-color: rgba(124, 191, 28, 0.65);
            }

            &:active {
                background-color: rgba(124, 191, 28, 0.8);
            }
        }
    }
}
