<div class="content-wrapper">
  <div class="content-heading">
    <button class="button button-secondary">Previous</button>
    <h2 class="lecture-heading">Lecture Heading</h2>
    <button class="button button-secondary">Next</button>
  </div>

  <div class="lecture-content">
    <!--
        This kind of iframe will be added in each lecture content component
        <iframe class="video-frame" src="https://www.youtube.com/embed/EngW7tLk6R8" title="YouTube video player" allowfullscreen></iframe>
    -->
    {{ activeSection }}
    {{ activeLecture }}
  </div>
</div>
