.background {
    font-family: 'Roboto';
}

.course-heading {
    color: #95de19;
    text-align: center;
    font-variant: small-caps;
    margin: 12px 0px;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 4px);
    height: calc(100vh - 76px);
    color: #ececeb;
}

.side-panel {
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(37, 150, 190, 0.1); // #a1a2a0
    border: 2px solid rgba(37, 150, 190, 0.2); // #a1a2a0
    border-radius: 5px;
}

.content {
    width: 75%;
    height: 100%;
    overflow-y: scroll;
}
