<div class="side-panel-wrapper">
    <button class="button button-tab" id="introduction">Introduction</button>
    <button class="button button-tab">About Us</button>
    <button class="button button-tab">References</button>
    <div class="section">
      <button id="section-1" class="button button-tab btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#s1-collapse" aria-expanded="false">Section 1</button>
      <div class="collapse" id="s1-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal small">
          <li><button class="button button-tab">Overview</button></li>
          <li><button class="button button-tab">Updates</button></li>
          <li><button class="button button-tab">Reports</button></li>
        </ul>
      </div>
    </div>
    <div class="section">
      <button id="section-2" class="button button-tab btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#s2-collapse" aria-expanded="false">Section 2</button>
      <div class="collapse" id="s2-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal small">
          <li><button class="button button-tab">Overview</button></li>
          <li><button class="button button-tab">Updates</button></li>
          <li><button class="button button-tab">Reports</button></li>
        </ul>
      </div>
    </div>
</div>
