.side-panel-wrapper {
    height: 100%;
    width: 100%;
    padding: 6px;
}

.section {
    &:not(:has(.collapsed)) {
        margin: 6px 0px;
        transition: margin 500ms ease;
        border: 1px solid rgb(236, 236, 235);
        border-radius: 5px;
    }
}

.btn-toggle {
    &::before {
        display: inline-block;
        margin-right: 2px;
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28236,236,235,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    &[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }

    &-nav {
        margin: 0px;
        padding: 0px;

        li .button-tab {
            padding-left: 48px;
        }
    }
}
